.add-new-todo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  width: 300px;
  padding: 5px 10px;
  border: 2px solid #747474;
}
