<div class="task">
  <div class="task-content" [ngClass]="{'completed': task.status === taskStatus.completed}">
    <input
      *ngIf="editMode; else taskTitle"
      [(ngModel)]="newTitle"
      (blur)="changeTitle()"
      class="input"
      autofocus
    />

    <ng-template #taskTitle>
      <input
        type="checkbox"
        (change)="changeStatus($event)"
        [checked]="task.status === taskStatus.completed"
      />
      <span (dblclick)="enableEditMode()" class="title">{{task.title}}</span>
    </ng-template>
  </div>
  <button (click)="removeTask()">X</button>
</div>
