.todo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #747474;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
